* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  transition: all 0.35s linear;
  box-sizing: border-box;
}

body {
  background-image: url(../image/bg9.jpg);
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --light: #000000;
  --dark: #000000;
  gap: 20px;
}

#main_menu {
  background-color: rgb(255, 242, 0);
  cursor: pointer;
  height: 50px;
  width: 115px;
  overflow: hidden;
  border: 3px solid rgb(7, 243, 82);
  font-size: large;
  color: black;
  font-weight: bold;
}

#main_menu:hover {
  background-color: chartreuse;
  border: 3px solid rgb(236, 11, 60);
}

h1 {
  justify-content: center;
  align-items: center;
  font-size: 76px;
  font-weight: 800;
  color: rgb(245, 12, 249);
}
h1 em {
  justify-content: center;
  align-items: center;
  font-style: normal;
  color: #edde10;
}

section {
  width: 60vw;
  max-width: 800px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  background-image: linear-gradient(45deg, var(--light), var(--dark));
  padding: 32px;
  border-radius: 64px;
  color: white;
}

.picture img {
  width: 90%;
  height: 480px;
  object-fit: cover;
  border-radius: 16px;
  margin-left: -72px;
  box-shadow: 0px 8px 16px #00000056;
}
.information {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.job {
  opacity: 0.75;
  padding: 12px 0px;
  color: rgb(255, 255, 255);
}

.social {
  padding: 16px 0px;
  font-size: 32px;
}

.social i {
  width: 56px;
  text-align: center;
  padding: 12px;
  color: rgb(0, 255, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  margin-right: 16px;
  cursor: pointer;
}
.social i:hover {
  background-color: yellow;
  border-color: yellow;
  color: var(--dark);
}
.action {
  padding: 24px 0px;
}
